@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Long's Bakery</h1>
    <p class="lead">we are providing daily fresh asian style bread.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make it Local </h2>
        <p>
            A small bakeshop on Capitol Hill at the 11th ave front of Chophouse Row. We serve macarons, viennoiseries, regional French pastries, classic English desserts, and Dorothea coffee.
        </p>


    </div>
    <div class="col-md-4">
        <h2>Business Hours</h2>
        <p>
            We open weekdays from 7am–4pm (6pm on Fridays!) and from 8am–6pm over the weekend.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Holiday Special Orders</h2>
        <p>

            If you need something a little extra for the holidays we are always happy to help. Even if you don't see a special
            order form on our website give us a call at 206.948.2097, shoot us an email,
            or stop by the shop and chat with us about what you're looking for. If we can do it we will!
            But please remember we do not use any artificial dyes or ingredients so while we do want to make your favorite treat we also care
            about you and may need to suggest a more natural option in some circumstances.
        </p>
    </div>
</div>